configuration {
    modi:           "drun,run";
    show-icons:     true;
    icon-theme:     "Adwaita";
    drun-display-format: "{name}";
    display-drun:   "";
    display-run:    "";
    terminal:       "foot";
}

@theme "~/.config/rofi/theme.rasi"
